@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 40vh;
    background-color: #222;
    color: white;
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.basketIcon {
    margin-top: 1.4rem;
    font-size: 8.5rem;
}

#hello {
    font-size: 1.8rem;
}
